<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bulma/css/bulma.css" rel="stylesheet" type="text/css"/>
  <link href="/src/style.css" rel="stylesheet" type="text/css"/>
  <title>Chat (i) net web chat</title>
</head>

<body>
  
  <h1 class="title is-1 has-text-centered">CHAT (i) NET</h1>