<%- include('header'); %>

  <div class="login-form columns">
    <form class="field column is-4 is-offset-4" action="/chat" method="post">
      <label class="label is-medium">Nickname:</label>
      <div class="control">
        <input id="user-login" name="user" class="input is-medium" type="text" placeholder="Nickname" required>
      </div>
      <div class="control">
        <input class="button is-success" type="submit" value="login">
      </div>
    </form>
  </div>
</body>
</html>